<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="generator" content="Hugo 0.48" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pannellum</title>
    <script src="/cdn-cgi/apps/head/TEAHVq5cVsVoM9egFOAS6CBdXPk.js"></script>
    <link rel="stylesheet" href="https://pannellum.org/css/bootstrap.min.css">
    <script type="text/javascript" src="https://pannellum.org/js/bootstrap-native.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600%7CSource+Code+Pro:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://pannellum.org/css/pygments.css">
    <link rel="stylesheet" href="https://cdn.pannellum.org/2.5/pannellum.css" />
    <script type="text/javascript" src="https://cdn.pannellum.org/2.5/pannellum.js"></script>
    <link rel="stylesheet" href="https://pannellum.org/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="site-wrapper" style="padding:0;">
            <div class="cover">
                <p class="lead">
                    <div id="panorama" style="width:100%;height:390px;"></div>
                    <script>
                        var viewer = pannellum.viewer('panorama', {
                            "default": {
                                "firstScene": "Img1.JPG",
                                "author": "",
                                "sceneFadeDuration": 1000,
                                "autoLoad": true
                            },


                            "scenes": {
                                "Img1.JPG": {
                                    "title": "",
                                    "hfov": 100,
                                    "pitch": 10,
                                    "yaw": 50,
                                    "compass": true,
                                    "northOffset": 289,
                                    "crossOrigin": "anonymous",
                                    "type": "equirectangular",
                                    "panorama": "../Images/MansionVijith/Img1.JPG",
                                    "hotSpots": [
                                                                           {
                                                                               "pitch": -7,
                                                                               "yaw": 171,
                                                                               "type": "scene",
                                                                               "text": "",
                                                                               "sceneId": "Img1.JPG"
                                                                           }

                                    ]
                                }
    , "Img2.JPG": {
        "title": "",
        "hfov": 100,
        "pitch": 10,
        "yaw": 50,
        "compass": true,
        "northOffset": 289,
        "crossOrigin": "anonymous",
        "type": "equirectangular",
        "panorama": "./Images/MansionVijith/Img2.JPG",
        "hotSpots": [

        ]
    }
    , "Img3.JPG": {
        "title": "",
        "hfov": 100,
        "pitch": 10,
        "yaw": 50,
        "compass": true,
        "northOffset": 289,
        "crossOrigin": "anonymous",
        "type": "equirectangular",
        "panorama": "./Images/MansionVijith/Img3.JPG",
        "hotSpots": [

        ]
    }
    , "Img4.JPG": {
        "title": "",
        "hfov": 100,
        "pitch": 10,
        "yaw": 50,
        "compass": true,
        "northOffset": 289,
        "crossOrigin": "anonymous",
        "type": "equirectangular",
        "panorama": "./Images/MansionVijith/Img4.JPG",
        "hotSpots": [

        ]
    }
    , "Img5.JPG": {
        "title": "",
        "hfov": 100,
        "pitch": 10,
        "yaw": 50,
        "compass": true,
        "northOffset": 289,
        "crossOrigin": "anonymous",
        "type": "equirectangular",
        "panorama": "./Images/MansionVijith/Img5.JPG",
        "hotSpots": [

        ]
    }
    , "Img6.JPG": {
        "title": "",
        "hfov": 100,
        "pitch": 10,
        "yaw": 50,
        "compass": true,
        "northOffset": 289,
        "crossOrigin": "anonymous",
        "type": "equirectangular",
        "panorama": "./Images/MansionVijith/Img6.JPG",
        "hotSpots": [

        ]
    }

                            }
                        });

                        viewer.on('mousedown', function (event) {
                            // For pitch and yaw of center of viewer
                            console.log(viewer.getPitch(), viewer.getYaw());
                            // For pitch and yaw of mouse location
                            console.log(viewer.mouseEventToCoords(event));
                        });
                    </script>
            </div>
        </div>
    </div>
</body>
</html>
